<div class="container">
  <h1>{{ quiz.title }}</h1>
  <div class="list-group">
    <div class="list-group-item" *ngFor="let question of questions">
      <div [ngSwitch]="question.type">
        <app-question-true-false
          [question]="question"
          [(answer)]="question.answer"
          *ngSwitchCase="'TRUE_FALSE'"
        ></app-question-true-false>
        <app-question-multiple-choices
          [question]="question"
          [(answer)]="question.answer"
          *ngSwitchCase="'MULTIPLE_CHOICE'"
        ></app-question-multiple-choices>
      </div>
    </div>
  </div>

  <button class="btn btn-primary submit-quiz" (click)="submitQuiz()">
    Submit Quiz
  </button>
</div>
