<div class="question-header">
  <span class="question-name">{{ question.question }}</span>
  <i
    class="fa fa-2x fa-check float-right"
    [ngClass]="{
      'fa-check': grading && answerSelected === question.correct,
      'fa-times': grading && answerSelected !== question.correct
    }"
  ></i>
</div>
<div class="list-group">
  <div
    class="list-group-item"
    [ngClass]="{
      'list-group-item-success': grading && question.correct === option,
      'list-group-item-danger':
        grading && answerSelected === option && question.correct !== option
    }"
    *ngFor="let option of ['true', 'false']"
  >
    <div class="choice-with-radio">
      <label>
        <input
          type="radio"
          name="{{ question._id }}"
          [(ngModel)]="answerSelected"
          value="{{ option }}"
          (change)="onChangeAnswer()"
        />
        <span class="choice">{{ option }}</span>
      </label>
      <i
        class="fa"
        [ngClass]="{
          'fa-check': grading && question.correct === option,
          'fa-times':
            grading && answerSelected === option && question.correct !== option
        }"
      ></i>
    </div>
  </div>
  <span class="your-answer-tf">Your answer: {{ answerSelected }}</span>
</div>

<button class="btn btn-success" (click)="onSubmitAnswer()">Grade</button>
