<div class="question-header">
  <span class="question-name">{{ question.question }}</span>
</div>
<div class="list-group">
  <div class="list-group-item" *ngFor="let option of ['true', 'false']">
    <div class="choice-with-radio">
      <label>
        <input
          type="radio"
          name="{{ question._id }}"
          [(ngModel)]="answer"
          value="{{ option }}"
          (change)="onChangeAnswer()"
        />
        <span class="choice">{{ option }}</span>
      </label>
    </div>
  </div>
  <span class="your-answer-tf">Your answer: {{ answer }}</span>
</div>

<button
  class="btn btn-success"
  [disabled]="!answerSelected"
  (click)="submitAnswer()"
>
  Record
</button>
<div *ngIf="recorded">
  <i class="fa fa-check">Answer is recorded</i>
</div>
<div *ngIf="!recorded">
  Please click record button to record your answer
</div>
