<h2 class="question-name">{{ question.question }}</h2>
<div class="list-group">
  <div class="list-group-item">
    <input type="radio" id="true" name="answer" value="true" />
    <label for="true" class="choice">TRUE</label>
  </div>
  <div class="list-group-item">
    <input type="radio" id="false" name="answer" value="false" />
    <label for="false" class="choice">FALSE</label>
  </div>

  <span class="your-answer-tf">Your answer: </span>
</div>
<button class="btn btn-success">Grade</button>
